*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3{font-family: 'Source Sans Pro', sans-serif;}
a{font-family: 'Roboto', sans-serif;font-weight: 700;}
p{
    font-size: 18px;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
}
.title-main{
    font-size: 80px;
    color: #134649;
    font-weight:900;
}
.title-description{
    color: #382a4d;
}
#colors{
    height: 150px;
    width: 50px;
    background-color: black;
    margin-top: 170px;
    position: fixed;
    display: none;
    z-index: 1;
}

#colors .color1{
    background-color: green;
    height: 30px;
    width: 30px;
    margin: 0 auto;
    margin-top: 6px;
}
#colors .color2{
    background-color: lavender;
    height: 30px;
    width: 30px;
    margin: 0 auto;
    margin-top: 6px;
}
#colors .color3{
    background-color: lightslategray;
    height: 30px;
    width: 30px;
    margin: 0 auto;
    margin-top: 6px;
}
#colors .color4{
    background-color: darkblue;
    height: 30px;
    width: 30px;
    margin: 0 auto;
    margin-top: 6px;
}

/*padding*/
#content1{
    height: 100vh;
    width: 100%;
    background-image: url(../images/mobile.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
#content1:before{
    content: "";
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: cyan;
    opacity: 0.4
}
#content1 .information{
    position: relative;
}
/*Section2*/
#content2{
    height: 100%;
    width: 100%;
    background-color: darkcyan;
    z-index: 1;
}
.card{
    height: 400px;
    width: 300px;
    padding: 10px;
    transition: all ease-out .2s;
}
.card:hover{
   transform: scale(1.05);
}
.card img{
    object-fit:cover;
    width: 100%;
}
.card .body{
    margin-top: 20px;
    font-size: 1.1rem;
}
/*Section3*/
#content3{
    height: 100%;
    width: 100%;
    background-color: teal;
    position: relative;
}
#content4{
    height: 100%;
    width: 100%;
    background-color: #071b27;
}
#content5{
    height: 100%;
    width: 100%;
}

#content5 .redes{
    width: 80px;
}

@media (min-width:600px){
    #content2{
        height: 100vh;
    }
    #content3{
        height: 100vh;
    }
    #content4{
        height: 100vh;
    }
    #content5{
        height: 100vh;
    }
}









